<h1>Tic Tac Toe!</h1>

Welcome to my fancy new tic tac toe game... in the browser! Please note that you can still play this game in the terminal by just typing ruby ttt_terminal.rb.
<br>
<a href="/start_game">Play TTT!</a>