The board is numbered as follows:<br><br>
<%=@browser_game_loop.board.display_example_board%>
<br><br>
<%if @first_or_second == "first"%>
	Which mark would you like to use?
	<form action="/first_more" method="post">
		<input type="text" name="mark">
		<input type="submit">
	</form>	
<%else%>
	The computer is playing!
	<br><br>
	<%=@browser_game_loop.board.display_board%>
<%end%>
<br>

<%=@first_or_second%>