<form action="/play_game" method="post">
Which mark would you like to use? <input type="text" name="mark"><br>
Would you like to go first or second? <input type="radio" name="first_or_second" value="first" required><input type="radio" name="first_or_second" value="first" required><br>
Let's Play! <input type="submit">
</form>

