Example Board:<br>
<div class="board_display"><%=session[:board].display_example_board%></div>
<br><br>
<form action="/first_move" method="post">
	Which mark would you like to use? <input type="text" name="mark"><br>
	Would you like to go first or second? 
	first<input type="radio" name="first_or_second" value="first" required> 
	second<input type="radio" name="first_or_second" value="second" required><br>
	<input type="submit" value="Let's Play!">
</form>

