.container {
  margin: 20px auto;
  width: 800px;
  padding: 20px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}


html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}